<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script>
      $(function(){
        $('.update').click(function() {
          var data = {};
          var $this = $(this);

          data.shop             = $this.data('shop')
          data.template_id      = $this.data('template-id')
          data.template_version = $this.data('template-version')
          data.template_name    = $this.data('template-name')

          $.ajax({
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            url: 'http://localhost:<%= port %>'
          });
        });
      });
    </script>
  </head>
  <body>
    <% shops.forEach(function(shop) { %>
      <table class="mdl-data-table" style="float: left">
        <thead>
          <tr>
            <th><%= shop.name %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% shop.data.forEach(function(template) { %>
            <tr>
              <td>
                <a href="<%= shop.path %>/<%= shop.name %>/<%= template.name %>"> <%= template.name %> </a>
              </td>
              <td>
                <button class="update mdl-button mdl-js-button" onclick="return confirm('Are you sure?')"
                  data-shop="<%= shop.name %>"
                  data-template-id="<%= template.id %>"
                  data-template-version="<%= template.version %>"
                  data-template-name="<%= template.name %>">Update</button>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% }); %>
  </body>
</html>
